name: over_the_bike_fit
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+4

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  fl_chart: ^0.70.0
  intl: ^0.19.0
  shared_preferences: ^2.2.2                # ✅ Dart 3.3 호환
  flutter_blue_plus: ^1.34.4
  permission_handler: ^11.3.1
  table_calendar: ^3.1.2
  cupertino_icons: ^1.0.6
  flutter_plugin_android_lifecycle: ^2.0.19 # ✅ Dart 3.3 호환 안정 버전

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
