name: bike_fit_app
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  permission_handler: ^11.3.0
  fl_chart: ^0.66.0
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  # 이 부분이 true여야 버튼 아이콘(ㅁ)이 정상 아이콘으로 표시됩니다.
  uses-material-design: true

  assets:
    - assets/background.png
